.links .link{
    width: 150px;
    height: 150px;
    margin: 10px;
    border-radius: 50%;
    color: white;
    background-color:#bf0000;
    font-weight: 100;
    display: flex;
    align-items: center;
    justify-content: center;

}

.links .link:hover{
    transform: scale(1.1, 1.1);
}



.links{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
	justify-content: space-evenly;
    margin: 0 auto;
}

@media (max-width: 768px){
    .links{
        width: 100%;
    }

    .links .link{
        margin: 5px 0;
    }
}
