.links .link{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    color: white;
    background-color:#5489b1;
}



.links{
    width: 50%;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
	justify-content: space-around;
}